<div class="container">
  <h1>Racinger!</h1>
  <h2>For all the 'Keyboard Warriors' out there</h2>
  <p>Enter player names:</p>

  <form action="/game" method="post">
      <input type="text" placeholder ="Player 1" name="p1">
      <input type="text" placeholder ="Player 2" name="p2">
    <input type="submit" value="Play!"><br><br>
  </form>
</div>